<div class="container">
    <div class="before" [style.background-image]="'url(' + backgroundImage + ')'"></div>
    <div class="todos">
        <div class="title">
            <span class="text"> TODO </span>
            <span class="image"> <img [src]="imageLocation" (click)="toggleTheme()"></span>
        </div>
        <div class="add-todo">
            <app-new-todo></app-new-todo>
        </div>
        <div class="all-todos">
            <app-alltodos></app-alltodos>
        </div>
    </div>
</div>